# Auto detect text files and perform LF normalization
* text=auto

*.md	text
*.doc	diff=astextplain
*.DOC	diff=astextplain
*.docx	diff=astextplain
*.DOCX	diff=astextplain
*.dot	diff=astextplain
*.DOT	diff=astextplain
*.pdf	diff=astextplain
*.PDF	diff=astextplain
*.rtf	diff=astextplain
*.RTF	diff=astextplain
*.ico	binary

/bin/* filter=lfs diff=lfs merge=lfs -text
